<!DOCTYPE html>
<html lang="en">
	<head>
	</head>

	<body id="top" class="smoothscroll enable-animation grain-blue">
		<!-- Parallax Ribbon -->
		<section class="parallax parallax-1" style="background-image: url(<%= asset_url("AdobeStock_146216308.jpeg") %>); height:600px;">
			<div class="overlay dark-3"><!-- dark overlay [1 to 9 opacity] --></div>
			<div class="container-fluid">
				<div class="text-center">
					<h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Corporate Elevators</h1>
					<p class="lead fs-30 wow fadeInUp" data-wow-delay="0.7s">All you need to know about them.</p>
					<br /><br /><br /><br /><br /><br /><br />
					<div class="mt-30">
						<a class="btn btn-info btn-lg" href="quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>	
					</div>
				</div>
			</div>
		</section>
		<!-- /Parallax Ribbon-->
		
		<!-- HOME -->
		<section id="home">
			<div class="container text-center">
				<div class="row text-left">
					<div class="col-md-8 col-sm-12 mb-30">
						<!-- <img class="img-fluid" src="new_assets/thumbnail_AdobeStock_72034307.jpeg" alt="product image" /> -->
						<%= image_tag("thumbnail_AdobeStock_72034307", :class => "img-fluid", :alt => "product image") %>
					</div>
					<div class="col-md-4 col-sm-12">
						<h3 class="fw-300">Elevator <span>Overview</span></h3>
						<p>The greatest elevators built out of military grade material and engineered by the best of the bests.</p>
						<p>These elevator are designed to fit your corporate building aesthetically and they also have the best elevator music.</p>
						<hr />
						<ul class="list-unstyled list-icons">
							<li><i class="fa fa-check"></i> Military Grade</li>
							<li><i class="fa fa-check"></i> Great Music</li>
							<li><i class="fa fa-check"></i> Sensational Buttons</li>
							<li><i class="fa fa-check"></i> Visually pleasing</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- /HOME -->


		<!-- FEATURES -->
		<section id="features" class="pt-30">
			<div class="container-fluid">
				<header class="text-center">
					<h2>Our Features</h2>
					<hr />
				</header>

				<!-- FEATURED BOXES 3 -->
				<div class="row">
					<div class="col-md-4 col-6">
						<div class="text-center">
							<h4>Award Winner</h4>
						</div>
					</div>
					<div class="col-md-4 col-6">
						<div class="text-center">
							<h4>Engineered by the Best</h4>
						</div>
					</div>
					<div class="col-md-4 col-6">
						<div class="text-center">
							<h4>Very Accurate Build</h4>
						</div>
					</div>
				</div>
				<!-- /FEATURED BOXES 3 -->

				<!-- FEATURED BOXES 3 -->
				<div class="row">
					<div class="col-md-4 col-6">
						<div class="text-center">
							<h4>Sturdy</h4>
						</div>
					</div>
					<div class="col-md-4 col-6">
						<div class="text-center">
							<h4>Best Music</h4>
						</div>
					</div>
					<div class="col-md-4 col-6">
						<div class="text-center">
							<h4>Free Wifi</h4>
						</div>
					</div>
				</div>
				<!-- /FEATURED BOXES 3 -->
			</div>
		</section>
		<!-- /FEATURES -->

		<!-- -->
		<section class="alternate">
			<div class="container">
				<div class="text-center">
					<h2 class="wow fadeInUp m-0" data-wow-delay="0.3s">DID WE CONVINCE YOU?</h2>
					<div class="mt-30">
						<a class="btn btn-info btn-lg" href="quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>	
					</div>
				</div>
			</div>
		</section>
		<!-- / -->
	</body>
</html>
